@import 'tailwindcss';

/*Breakpoints, for reference only
XL - 1280px +
LG - 992px to 1279px
MD - 768px to 991px
SM - 577px to 767px
XS - 0px to 576px
*/

:root{
    --colour-background: #000420;
    --colour-primary: #83c65e;
    --colour-secondary: #215e58;
    --colour-accent: #1a4d29;
    --colour-highlight: #b1d88a;
    --colour-shadow: #173b22;

    --colour-white: #e5e7eb;
    --colour-black: #111827;

    --colour-light-grey: #d1d5db;
    --colour-grey: #6b7280;
    --colour-dark-grey: #374151;

}

body{
    background-color: var(--colour-background);
    color: var(--colour-white);
}

img{
    max-width: 100%;
    height: auto;
}

p, a, li, span, div{
    color: var(--colour-white);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    margin-bottom: 1.2em;
}

ul, ol{
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    li{
        margin-bottom: 1em;
    }
}

ul li{
    list-style-type: disc;
}

ol li{
    list-style-type: decimal;
}

a{
    text-decoration: underline;
    &:hover{
        color: var(--colour-primary);
    }

}

h1, h2, h3, h4, h5, h6{
    color: var(--colour-primary);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 1.5em;

}

h1{
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 2.5rem;
}
h2{
    font-size: 2.75rem;
    line-height: 1;
    margin-bottom: 2rem;
}
h3{
    font-size: 1.875rem;
    line-height: 1;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}

::selection{
    background-color: var(--colour-accent);
    color: var(--colour-white);
}

.borderwave{
    width: 100%;
}

.container{
    max-width: 1400px;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;
}
.container-full{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &.light{
        background-color: var(--colour-white);
        p, a, li, span, div{
            color: var(--colour-black);
        }
        a:hover{
            color: var(--colour-accent);
        }
        h1, h2, h3, h4, h5, h6{
            color: var(--colour-secondary);
        }
    }
}

.hide{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .hideOnTablet{
        display: none !important;
    }
}
@media screen and (max-width: 450px) {
    .hideOnMobile{
        display: none !important;
    }
}
